<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Shuhao Tan - {{page['title']}}</title>
    <link rel="favicon" href="assets/img/favicon.ico" />
    <link rel="shortcut icon" href="assets/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="assets/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Exo+2:400,700|Roboto:400,700' rel='stylesheet' type='text/css' />
</head>
<body class="layout">
    {% include "generic/heading.html" %}
    {% include "generic/body.html" %}
    {% include "generic/footer.html" %}
    <div class="loading-overlay"></div>
</body>
</html>