{% extends "components/card.html" %}
{% block classes %}card-image card-avatar{% endblock %}
{% block body %}
<div class="avatar-container">
    <div class="avatar"></div>
</div>
<div class="layout-h name-bar">
    <div class="bar-left layout-h">
        <div class="about-flag-wrapper layout-h">
            <div class="about-flag"></div>
        </div>
        <div class="about-caption layout">
            <h1 class="about-lineheader">Shuhao Tan</h1>
            <p class="about-linecontent">joined August 2016</p>
        </div>
    </div>
    <div class="bar-right layout-h">
        <div class="about-position layout">
            <h1 class="about-lineheader">Ph.D. Candidate</h1>
        </div>
    </div>
</div>
{% endblock %}